<div class="locations">
  <h1> Locations </h1>
</div>
<%= button_to "New Location", new_location_path, :method => "get" %> <br>

<% @locations.each do |location| %>
   <p><%= link_to location.name, location_path(location) %> <%= button_to "Edit", edit_location_path(location), method: "get" %>
     <% if location.id != Location.first.id %>
      <%= button_to "Delete", location_path(location), method: "delete" %>
    <% end %>
 </p>
<% end %>
