html {
  height: -webkit-fill-available;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

.wrapper {
    min-height: 100%;
    margin: -240px auto 0;
}

.content {
  padding-top: 240px;
}


body {
  font-family: Chalkduster, fantasy;
  background-image: linear-gradient(to right, #000000, #434343);
}

.text {
  background-color: white;
  opacity: 40%;
}

.body-kitchen {
  background-image: url("/images/8_kitchen_3.png");
  background-size: cover;


}

.body-uncategorized {
  background-image: url("/images/Selected Photos/1_uncategorized_6.png");
  background-size: cover;
  background-color: black;
}

.body-bedsidetable {
  background-image: url("/images/bedside-table.jpg")
}

.body-schoolbag {
  background-image: url("/images/school.jpg")
}

.body-backpocket {
  background-image: url("/images/backpocket.jpg")
}

.body-bank {
  background-image: url("/images/bank.jpg")
}

.body-car {
  background-image: url("/images/car.jpg")
}

.body-laptop {
  background-image: url("/images/laptop.jpg")
}


.footer{
  // margin-bottom: 2rem 1.5rem;
  background-color: black;
  text-align: center;
  margin: 300px 30px 30px 30px;
  opacity: 50%;
  color: white;
}
.header, .footer{
  font-family: monospace;

  // border-radius: 50px;
  // border-bottom: 50px;

}
.header {
  // background-color:white;
  padding-bottom: 2rem 1.5rem;
  padding-left: 2rem 2rem;
  padding-right: 2rem 1rem;
  padding-top: 2rem 1.5rem;
  margin: 0px 30px 30px 30px;
  border-radius: 50px;
  background-color: #FCFAF4;
}
.section {
  display:flex;
  flex:1 0 auto;
}
